
{% extends 'base.html' %}

{% load static %}


{% block title %}Login Page{% endblock title %}
{% block body %}

<form action="loginUser" method="post">
    {% csrf_token %}
    <main>
        <div class="row">
            <div class="colm-logo">
                <img src="{% static 'image/logo.png' %}" alt="Logo">
                <h2>“No kid deserves to be disappointed”</h2>
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <center><h2>Login Form</h2></center><br>
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <button class="btn-login">Login</button>
                    <a href="registerPage">Create new Account</a>
                   
                </div>
                
            </div>
        </div>
    </main>
</form>


{% endblock body %}